In [2]:
#creating sets

#empty_set= set()

vegetables={'carrot','raddish','cabbage','brinjal','onion','ladys finger'}
print(vegetables)
print(type(vegetables))

#duplicates 
numbers={22,58,36,74,69,22,49,58,16,742,593,125,69}
print(numbers)

{'raddish', 'ladys finger', 'cabbage', 'carrot', 'brinjal', 'onion'}
<class 'set'>
{36, 69, 742, 74, 16, 49, 593, 22, 58, 125}

In [10]:
#adding
places={'hyderabad','kolkata','bangalore','chennai'}
places.add('pune')
print(places)

#update
places={'hyderabad','kolkata','bangalore','chennai'}
places.update('pune')
print(places)

#remove
places={'hyderabad','kolkata','bangalore','chennai'}
places.discard('chennai')
print(places)

places={'hyderabad','kolkata','bangalore','chennai'}
places.remove('chennai')
print(places)

#length
places={'hyderabad','kolkata','bangalore','chennai'}
print(len(places))

{'chennai', 'kolkata', 'hyderabad', 'bangalore', 'pune'}
{'chennai', 'u', 'kolkata', 'p', 'hyderabad', 'bangalore', 'n', 'e'}
{'hyderabad', 'bangalore', 'kolkata'}
{'hyderabad', 'bangalore', 'kolkata'}
4

Set Operations

In [15]:
#union
a={4,59,12,35}
b={54,96,42,31}
print(a|b)
print(a.union(b))

#intersection
a={4,59,42,12,35}
b={54,96,42,31}
print(a&b)
print(a.intersection(b))

#difference
a={4,59,42,12,35}
b={54,96,42,31}
print(a-b)
print(a.difference(b))

#set symmetric difference
a={4,59,42,12,35}
b={54,96,42,31}
print(a^b)
print(a.symmetric_difference(b))

{96, 35, 4, 42, 12, 54, 59, 31}
{96, 35, 4, 42, 12, 54, 59, 31}
{42}
{42}
{59, 35, 4, 12}
{59, 35, 4, 12}
{96, 35, 4, 12, 54, 59, 31}
{96, 35, 4, 12, 54, 59, 31}