In [2]:
#creating a tuple
empty_tuple=()

colours=("blue","black","red","yellow")
print(type(colours))
print(colours)

<class 'tuple'>
('blue', 'black', 'red', 'yellow')

Accessing of tuples

In [3]:
colours=("blue","black","red","yellow")
print(colours[2])
print(colours[1:3])

red
('black', 'red')

Immutability

In [6]:
colours=("blue","black","red","yellow")
colours [2]="pink"
print(colours)

TypeError: 'tuple' object does not support item assignment

Tuple Operations

In [8]:
#concatenation
name=("krishna","radha","rukmini")
colour=("blue","black","yellow")
name_colour=name+colour
print(name_colour)

#repetation
name=("krishna","radha","rukmini","satyabama")
names=name*4
print(names)

('krishna', 'radha', 'rukmini', 'blue', 'black', 'yellow')
('krishna', 'radha', 'rukmini', 'satyabama', 'krishna', 'radha', 'rukmini', 'satyabama', 'krishna', 'radha', 'rukmini', 'satyabama', 'krishna', 'radha', 'rukmini', 'satyabama')

Tuple Methods

In [14]:
#count
marks=(25,35,29,47,34,18,39,47,65,19,29,39,24,29,28,34,29,46,57)
marks2=marks.count(29)
print(marks2)

#index
marks=(25,35,29,47,34,18,39,47,65,19,29,39,24,29,28,34,29,46,57)
index=marks.index(29)
print(index)

4
2