In [1]:
#creation of a list
my_list=[]

#creating a list with elements
numbers=[50,28,35,55]
words=["python","hello","world"]

print(numbers)
print(words)
print(type(numbers))
print(type(words))

[50, 28, 35, 55]
['python', 'hello', 'world']
<class 'list'>
<class 'list'>

Access list elements

In [2]:
Places=["Hyderabad","Bangalore","Mumbai","Chennai","Kolkata"]
print(Places[3])
print(Places[-3])

Chennai
Mumbai

Slicing list elements

In [7]:
Alphabets=['a','b','c','d','e','f','g','h','i','j','k','l']
print(Alphabets[3:8])
print(Alphabets[5:])
print(Alphabets[:7])
print(Alphabets[-6:-2])
print(Alphabets[:])

['d', 'e', 'f', 'g', 'h']
['f', 'g', 'h', 'i', 'j', 'k', 'l']
['a', 'b', 'c', 'd', 'e', 'f', 'g']
['g', 'h', 'i', 'j']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l']

List operations

In [9]:
#concatenation
name=["sai","krishna","shiva"]
number=[32,45,67]
print(name+number)

#repetation
name=["krishna","radha","rukmini","satyabama"]
print(name*22)

['sai', 'krishna', 'shiva', 32, 45, 67]
['krishna', 'radha', 'rukmini', 'satyabama', 'krishna', 'radha', 'rukmini', 'satyabama', 'krishna', 'radha', 'rukmini', 'satyabama', 'krishna', 'radha', 'rukmini', 'satyabama', 'krishna', 'radha', 'rukmini', 'satyabama', 'krishna', 'radha', 'rukmini', 'satyabama', 'krishna', 'radha', 'rukmini', 'satyabama', 'krishna', 'radha', 'rukmini', 'satyabama', 'krishna', 'radha', 'rukmini', 'satyabama', 'krishna', 'radha', 'rukmini', 'satyabama', 'krishna', 'radha', 'rukmini', 'satyabama', 'krishna', 'radha', 'rukmini', 'satyabama', 'krishna', 'radha', 'rukmini', 'satyabama', 'krishna', 'radha', 'rukmini', 'satyabama', 'krishna', 'radha', 'rukmini', 'satyabama', 'krishna', 'radha', 'rukmini', 'satyabama', 'krishna', 'radha', 'rukmini', 'satyabama', 'krishna', 'radha', 'rukmini', 'satyabama', 'krishna', 'radha', 'rukmini', 'satyabama', 'krishna', 'radha', 'rukmini', 'satyabama', 'krishna', 'radha', 'rukmini', 'satyabama', 'krishna', 'radha', 'rukmini', 'satyabama']

Change list items

In [12]:
colour=["blue","black","yellow","brown"]
colour[3]="orange"
print(colour)

['blue', 'black', 'yellow', 'orange']

List methods

In [11]:
#append
name=["krishna","radha","rukmini","satyabama"]
name.append("yashoda")
print(name)

#extend
name=["krishna","radha","rukmini","satyabama"]
colour=["blue","black","yellow","orange"]
name.extend(colour)
print(name)

#insert
name=["krishna","radha","rukmini","satyabama"]
name.insert(0,"yashoda")
print(name)

#remove
name=["krishna","radha","rukmini","satyabama","yashoda"]
name.remove("yashoda")
print(name)

#pop
name=["krishna","radha","rukmini","satyabama","yashoda"]
popped_element=name.pop(4)
print(name)

#index
name=["krishna","radha","rukmini","satyabama"]
index=name.index("krishna")
print(index)

#count
name=["krishna","radha","rukmini","satyabama","krishna","rukmini","krishna","radha","satyabama","krishna","krishna","radha","rukmini"]
count=name.count("krishna")
print(count)

#sort
name=["KRISHNA","Radha","RUKMINI","Satyabama","Krishna","RADHA","Rukmini","satyabama","krishna","radha","rukmini","satyabama"]
name.sort()
print(name)

#reverse
name=["krishna","radha","rukmini","satyabama"]
name.reverse()
print(name)

#clear
name=["krishna","radha","rukmini","satyabama"]
name.clear()
print(name)

#copy
name=["krishna","radha","rukmini","satyabama"]
name.copy()
print(name)

#remove
name=["yashoda","krishna","radha","rukmini","satyabama"]
name.remove("satyabama")
print(name)

['krishna', 'radha', 'rukmini', 'satyabama', 'yashoda']
['krishna', 'radha', 'rukmini', 'satyabama', 'blue', 'black', 'yellow', 'orange']
['yashoda', 'krishna', 'radha', 'rukmini', 'satyabama']
['krishna', 'radha', 'rukmini', 'satyabama']
['krishna', 'radha', 'rukmini', 'satyabama']
0
5
['KRISHNA', 'Krishna', 'RADHA', 'RUKMINI', 'Radha', 'Rukmini', 'Satyabama', 'krishna', 'radha', 'rukmini', 'satyabama', 'satyabama']
['satyabama', 'rukmini', 'radha', 'krishna']
[]
['krishna', 'radha', 'rukmini', 'satyabama']
['yashoda', 'krishna', 'radha', 'rukmini']